DATAHUB_SYNAPSE_WORKSPACE/pipeline/01_PL_QMI_RDV_PRES_IN_SP.json
{
	"name": "01_PL_QMI_RDV_PRES_IN_SP",
	"properties": {
		"activities": [
			{
				"name": "SET_ACTIVITY_INPUT",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_SP_GET_ETL_RUN_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "activityInput",
					"value": {
						"value": "@activity('LKP_SP_GET_ETL_RUN_DETAILS').output.firstRow.ACTIVITY_INPUT",
						"type": "Expression"
					}
				}
			},
			{
				"name": "FE_NB_INPUT",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_GET_ALL_SPS_RDV_PRES",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_GET_ALL_SPS_RDV_PRES').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SET_SP_NAME",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "StoreProc",
								"value": {
									"value": "@replace(split(split(item().PARAMS,',')[0],'=')[1],'\"','')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SWITCH_TYPE_SP",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "SET_SP_NAME",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@replace(split(split(item().PARAMS,',')[2],'=')[1],'\"','')",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "DIM1",
										"activities": [
											{
												"name": "START_LOG_SP_DIM1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM1",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Start",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_SUCCESS_SP_DIM1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DIM1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM1",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.RowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsWritten": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.RowsInserted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Success",
															"type": "String"
														},
														"rowsUpdated": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.RowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.RowsDeleted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"expReconValue": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.ExpectedReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconValue": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.ActualReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": {
																"value": "@activity('SP_DIM1').output.firstRow.ActualReconStatus",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_FAILURE_SP_DIM1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DIM1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM1",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@activity('SP_DIM1').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Failure",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "SP_DIM1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "START_LOG_SP_DIM1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderStoredProcedureName": {
															"value": "@variables('StoreProc')",
															"type": "Expression"
														},
														"storedProcedureParameters": {
															"ForceUpdate": {
																"type": "Boolean",
																"value": {
																	"value": "@if(equals(replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''),''),'False',replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''))",
																	"type": "Expression"
																}
															},
															"ETLRunId": {
																"type": "String",
																"value": {
																	"value": "@variables('etlRunID')",
																	"type": "Expression"
																}
															},
															"ETLLoadId": {
																"type": "String",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[4],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[4],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"RowsRead": {
																"type": "Int64",
																"value": null
															},
															"RowsInserted": {
																"type": "Int64",
																"value": null
															},
															"RowsUpdated": {
																"type": "Int64",
																"value": null
															},
															"RowsDeleted": {
																"type": "Int64",
																"value": null
															},
															"ExpectedReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconStatus": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "GET_NBS_ADLS_RDV",
														"type": "DatasetReference",
														"parameters": {
															"serverName": {
																"value": "@pipeline().parameters.serverName",
																"type": "Expression"
															},
															"databaseName": {
																"value": "@pipeline().parameters.databaseName",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									},
									{
										"value": "DIM2",
										"activities": [
											{
												"name": "START_LOG_SP_DIM2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM2",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Start",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_SUCCESS_SP_DIM2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DIM2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM2",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.RowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsWritten": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.RowsInserted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Success",
															"type": "String"
														},
														"rowsUpdated": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.RowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.RowsDeleted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"expReconValue": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.ExpectedReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconValue": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.ActualReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": {
																"value": "@activity('SP_DIM2').output.firstRow.ActualReconStatus",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_FAILURE_SP_DIM2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DIM2",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DIM2",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@activity('SP_DIM2').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Failure",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "SP_DIM2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "START_LOG_SP_DIM2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderStoredProcedureName": {
															"value": "@variables('StoreProc')",
															"type": "Expression"
														},
														"storedProcedureParameters": {
															"ForceUpdate": {
																"type": "Boolean",
																"value": {
																	"value": "@if(equals(replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''),''),'False',replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''))",
																	"type": "Expression"
																}
															},
															"EffDateTime": {
																"type": "Datetime",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[4],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[4],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"ExpDateTime": {
																"type": "Datetime",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[5],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[5],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"ETLRunId": {
																"type": "String",
																"value": {
																	"value": "@variables('etlRunID')",
																	"type": "Expression"
																}
															},
															"SetDefaultAfterRun": {
																"type": "Boolean",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[6],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[6],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"ETLLoadId": {
																"type": "String",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[7],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[7],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"Params": {
																"type": "String",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[8],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[8],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"RowsRead": {
																"type": "Int64",
																"value": null
															},
															"RowsInserted": {
																"type": "Int64",
																"value": null
															},
															"RowsUpdated": {
																"type": "Int64",
																"value": null
															},
															"RowsDeleted": {
																"type": "Int64",
																"value": null
															},
															"ExpectedReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconStatus": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "GET_NBS_ADLS_RDV",
														"type": "DatasetReference",
														"parameters": {
															"serverName": {
																"value": "@pipeline().parameters.serverName",
																"type": "Expression"
															},
															"databaseName": {
																"value": "@pipeline().parameters.databaseName",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									},
									{
										"value": "FACT",
										"activities": [
											{
												"name": "START_LOG_SP_FACT",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_FACT",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Start",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_SUCCESS_SP_FACT",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_FACT",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_FACT",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.RowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsWritten": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.RowsInserted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Success",
															"type": "String"
														},
														"rowsUpdated": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.RowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.RowsDeleted",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"expReconValue": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.ExpectedReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconValue": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.ActualReconValue",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": {
																"value": "@activity('SP_FACT').output.firstRow.ActualReconStatus",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_FAILURE_SP_FACT",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_FACT",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_FACT",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@activity('SP_FACT').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Failure",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "SP_FACT",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "START_LOG_SP_FACT",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderStoredProcedureName": {
															"value": "@variables('StoreProc')",
															"type": "Expression"
														},
														"storedProcedureParameters": {
															"ETLRunId": {
																"type": "String",
																"value": {
																	"value": "@variables('etlRunID')",
																	"type": "Expression"
																}
															},
															"ETLLoadId": {
																"type": "String",
																"value": {
																	"value": "@if(equals(replace(replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''),'}''',''),''),null,replace(replace(split(split(item().PARAMS,',')[3],'=')[1],'\"',''),'}''',''))",
																	"type": "Expression"
																}
															},
															"RowsRead": {
																"type": "Int64",
																"value": null
															},
															"RowsInserted": {
																"type": "Int64",
																"value": null
															},
															"RowsUpdated": {
																"type": "Int64",
																"value": null
															},
															"RowsDeleted": {
																"type": "Int64",
																"value": null
															},
															"ExpectedReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconValue": {
																"type": "Int64",
																"value": null
															},
															"ActualReconStatus": {
																"type": "String",
																"value": null
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "GET_NBS_ADLS_RDV",
														"type": "DatasetReference",
														"parameters": {
															"serverName": {
																"value": "@pipeline().parameters.serverName",
																"type": "Expression"
															},
															"databaseName": {
																"value": "@pipeline().parameters.databaseName",
																"type": "Expression"
															}
														}
													}
												}
											}
										]
									},
									{
										"value": "DATE",
										"activities": [
											{
												"name": "SP_DATE",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "START_LOG_SP_DATE",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "SqlDWSource",
														"sqlReaderStoredProcedureName": {
															"value": "@variables('StoreProc')",
															"type": "Expression"
														},
														"storedProcedureParameters": {
															"ETLRunId": {
																"type": "String",
																"value": {
																	"value": "@variables('etlRunID')",
																	"type": "Expression"
																}
															},
															"StartDate": {
																"type": "Int64",
																"value": null
															}
														},
														"queryTimeout": "05:00:00",
														"partitionOption": "None"
													},
													"dataset": {
														"referenceName": "GET_NBS_ADLS_RDV",
														"type": "DatasetReference",
														"parameters": {
															"serverName": {
																"value": "@pipeline().parameters.serverName",
																"type": "Expression"
															},
															"databaseName": {
																"value": "@pipeline().parameters.databaseName",
																"type": "Expression"
															}
														}
													}
												}
											},
											{
												"name": "START_LOG_SP_DATE",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DATE",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Start",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_SUCCESS_SP_DATE",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DATE",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DATE",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@variables('StoreProc')",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Success",
															"type": "String"
														},
														"rowsUpdated": {
															"value": {
																"value": "@activity('SP_DATE').output.firstRow.RowsUpdated",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "END_LOG_FAILURE_SP_DATE",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "SP_DATE",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": {
														"value": "@variables('etlLogProc')",
														"type": "Expression"
													},
													"storedProcedureParameters": {
														"ActivityName": {
															"value": "SP_DATE",
															"type": "String"
														},
														"pipelineRunID": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_GUID": {
															"value": {
																"value": "@variables('etlRunID')",
																"type": "Expression"
															},
															"type": "String"
														},
														"rowsRead": {
															"value": null,
															"type": "Int64"
														},
														"rowsWritten": {
															"value": null,
															"type": "Int64"
														},
														"activityMessage": {
															"value": {
																"value": "@activity('SP_DATE').Error.Message",
																"type": "Expression"
															},
															"type": "String"
														},
														"activityRunStatus": {
															"value": "Failure",
															"type": "String"
														},
														"rowsUpdated": {
															"value": null,
															"type": "Int64"
														},
														"rowsDeleted": {
															"value": null,
															"type": "Int64"
														},
														"expReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconValue": {
															"value": null,
															"type": "Int64"
														},
														"actualReconStatus": {
															"value": null,
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
													"type": "LinkedServiceReference",
													"parameters": {
														"serverName": {
															"value": "@pipeline().parameters.serverName",
															"type": "Expression"
														},
														"databaseName": {
															"value": "@pipeline().parameters.databaseName",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "LOG_DEFAULT",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": {
												"value": "@variables('etlLogProc')",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"ActivityName": {
													"value": "SWITCH_TYP_SP",
													"type": "String"
												},
												"pipelineRunID": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_GUID": {
													"value": {
														"value": "@variables('etlRunID')",
														"type": "Expression"
													},
													"type": "String"
												},
												"rowsRead": {
													"value": null,
													"type": "Int64"
												},
												"rowsWritten": {
													"value": null,
													"type": "Int64"
												},
												"activityMessage": {
													"value": {
														"value": "@concat(replace(split(split(item().PARAMS,',')[2],'=')[1],'\"',''),' - SELECTED, NO ACTION FOUND')",
														"type": "Expression"
													},
													"type": "String"
												},
												"activityRunStatus": {
													"value": "Error",
													"type": "String"
												},
												"rowsUpdated": {
													"value": null,
													"type": "Int64"
												},
												"rowsDeleted": {
													"value": null,
													"type": "Int64"
												},
												"expReconValue": {
													"value": null,
													"type": "Int64"
												},
												"actualReconValue": {
													"value": null,
													"type": "Int64"
												},
												"actualReconStatus": {
													"value": null,
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "AZ_TSA_SYNAPSE_DED_SQL_POOL",
											"type": "LinkedServiceReference",
											"parameters": {
												"serverName": {
													"value": "@pipeline().parameters.serverName",
													"type": "Expression"
												},
												"databaseName": {
													"value": "@pipeline().parameters.databaseName",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "LKP_GET_ALL_SPS_RDV_PRES",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_ACTIVITY_INPUT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "ETL.SP_GET_NB_SP_PARAMS",
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GET_NBS_ADLS_RDV",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "LKP_SP_GET_ETL_RUN_DETAILS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_ETL_RUNTIME",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "ETL.SP_GET_ETL_RUN_DETAILS",
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"dataFactory": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GET_NBS_ADLS_RDV",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SET_ETL_BATCH_PROC",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_LOG_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "etlBatchProc",
					"value": "ETL.GET_RUN_MASTER_DETAILS"
				}
			},
			{
				"name": "LKP_GET_BATCH_RUN_DETAILS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SET_ETL_BATCH_PROC",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": {
							"value": "@variables('etlBatchProc')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"dataFactory": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"batch_GUID": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.batchGUID",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GET_NBS_ADLS_RDV",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SET_BATCH_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "LKP_GET_BATCH_RUN_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "etlRunID",
					"value": {
						"value": "@activity('LKP_GET_BATCH_RUN_DETAILS').output.firstRow.BATCH_GUID",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SET_LOG_PROC",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "etlLogProc",
					"value": "ETL.INSERT_RUN_DETAILS"
				}
			},
			{
				"name": "SET_ETL_RUNTIME",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SET_BATCH_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "etlRunStartTime",
					"value": {
						"value": "@activity('LKP_GET_BATCH_RUN_DETAILS').output.firstRow.ETL_RUN_START_DATETIME",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_GET_BATCH_RUN_DETAILS_END_SUCCESS",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_NB_INPUT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": {
							"value": "@variables('etlBatchProc')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"dataFactory": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"batch_GUID": {
								"type": "String",
								"value": {
									"value": "@variables('etlRunID')",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Success"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GET_NBS_ADLS_RDV",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "LKP_GET_BATCH_RUN_DETAILS_END_FAILURE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "FE_NB_INPUT",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": {
							"value": "@variables('etlBatchProc')",
							"type": "Expression"
						},
						"storedProcedureParameters": {
							"pipelineName": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"dataFactory": {
								"type": "String",
								"value": {
									"value": "@pipeline().DataFactory",
									"type": "Expression"
								}
							},
							"pipelineRunID": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"batch_GUID": {
								"type": "String",
								"value": {
									"value": "@variables('etlRunID')",
									"type": "Expression"
								}
							},
							"Status": {
								"type": "String",
								"value": "Error"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "GET_NBS_ADLS_RDV",
						"type": "DatasetReference",
						"parameters": {
							"serverName": {
								"value": "@pipeline().parameters.serverName",
								"type": "Expression"
							},
							"databaseName": {
								"value": "@pipeline().parameters.databaseName",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"serverName": {
				"type": "string",
				"defaultValue": "az-tsa-as-dmaic-prod-synapse-01.sql.azuresynapse.net"
			},
			"databaseName": {
				"type": "string",
				"defaultValue": "aztsaasdmaicprodsqlpools01"
			},
			"accountName": {
				"type": "string",
				"defaultValue": "asproddmaicstor01"
			},
			"sparkPoolName": {
				"type": "string",
				"defaultValue": "azprodspkpool01"
			},
			"batchGUID": {
				"type": "string"
			}
		},
		"variables": {
			"activityName": {
				"type": "String"
			},
			"activityInput": {
				"type": "String"
			},
			"activityType": {
				"type": "String"
			},
			"StoreProc": {
				"type": "String"
			},
			"Test": {
				"type": "String"
			},
			"pipelineName": {
				"type": "String"
			},
			"etlLogProc": {
				"type": "String"
			},
			"etlBatchProc": {
				"type": "String"
			},
			"etlRunID": {
				"type": "String"
			},
			"etlRunStartTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "QMA/03_RDV_PRES"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-19T06:28:04Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}